.web-app {
    height: 100vh;
}

header {
    height: 50px;
}

main {
    height: calc(100vh - 50px);
    background-color: #051e34;
}

.logo {
    height: 80px;
}


.areaprincipale {
    background-color: white;
    overflow: auto;
}

.campana {
    border: none;
    padding-top: 10px;
}

.campana i {
    color: #ff8f00;

}

.mobileimg:last-child img {
    width: 50px;
}

#barrasinistraimg {
    background-image: url('../img/sidebar-bg.png');
    background-position: center;
    background-size: cover;
    height: 75%;
}

.asdasd {
    background-repeat: no-repeat;
}

nav span {
    padding: 10px;
    width: 60px;
}

.areaprincipale nav span {
    width: auto;
    margin-right: 10px;
}

th img {
    max-width: 20px;
}

.breadcrumb>.active {
    color: white;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 80%;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

th:first-child,
td:first-child {
    text-align: left;
}

@media screen and (max-width: 768px) {

    th:nth-child(2),
    td:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    th:nth-child(3),
    td:nth-child(3) {
        display: none;
    }
}