.web-app {
    height: 100vh;
}

header {
    height: 50px;
}

main {
    height: calc(100vh - 50px);
    background-color: blueviolet;
}
.logo{height: 80px;}

nav {
    background-color: purple;
}

.areaprincipale {
    background-color: greenyellow;
}

.campana {
    border: none;
}

.campana i {
    color: #ff8f00;

}

.mobileimg:last-child img {
    width: 50px;
}

#barrasinistraimg {
    background-image: url('../img/sidebar-bg.png');
    background-position: center;
    height: 90%;
}

.asdasd {
    background-repeat: no-repeat;
}