.web-app {
    height: 100vh;
}

header {
    height: 50px;
}

main {
    height: calc(100vh - 50px);
    background-color: blueviolet;
}
.logo{height: 80px;}

nav {
    
}

.campana {
    border: none;
}

.campana i {
    color: #ff8f00;

}

.mobileimg:last-child img {
    width: 50px;
}